*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.container{
    height: 100%;
    display: flex;
}

.left{
    flex: 1 1 30%;
    background-image: url(./images/background-green-leaf.jpg);
    background-size: cover;
}

.right{
    flex: 1 1 60%;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
}

.right .top-text{
    font-size: 25px;
    font-weight: 600;
    padding: 80px;
}

.top-text p{
    padding: 20px;
}

.right form-container{
    background-color: white;
}
